#contenedor-post
{

    margin: 30px auto 10px 10px;
}
#articulos_title
{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}
#paginacion
{
    width: 60%;
    margin: auto;
}
.caption div
{
    padding: 10px;
    font-family: "Lato Thin",serif;
    text-align: justify;
}
.cat-date-post h3
{
    font-size: 18px;

}
@media(min-width: 768px)
{
    #contenedor-post
    {
        margin: 10px auto 10px 10px;
    }
    #articulos_title
    {
        font-size: 25px;
    }
}
