@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Lato';
@import url('https://fonts.googleapis.com/css?family=Mogra');
/**Fuentes*/
@import url(header.css);
@import url(menu.css);
@import url(slide.css);
@import url(blog.css);
@import url(aside.css);
@import url(footer.css);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    overflow-x: hidden;
    background: #f0f0f0;
    font-family: 'Open Sans', sans-serif;
}
main
{
    width: 103%;

}

