.copy
{
    font-size: 25px;
    text-align: left;
    margin-left: 15px;
}

footer
{
    background: #3c3c3c;
    color: #fff;
    margin-bottom:-10px;
    padding: 5px;
    position: relative;
}

footer .contenedor
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.sociales
{
    width: 100%;
    text-align: center;
    font-size: 30px;

}
.sociales a
{
    color: #fff;
    text-decoration: none;
}
.pie_menu
{

    width:250px;
    margin: auto;
    margin-top:40px;
}

.pie_menu ul
{
    list-style: none;
}
.pie_menu ul li
{
    display: inline;
    margin-right:20px;
    font-weight: bold;
}
.pie_menu ul li a
{
    color:#f0f0f0;
}
.pie_menu ul li a:hover
{
    color:#fff;
    text-decoration: underline;
}
#fb:hover
{
    color: #3B5998;
}
#tw:hover
{
    color: #55ACEE;

}
#vm:hover
{
    color:#57E049;
}
#lin:hover
{
    color:rgba(49, 98, 173, 1);
}
#yb:hover
{

    color: rgba(185, 16, 16, 1);
}
#it:hover
{
    color: #3B5998;
}

@media(min-width:768px)
{
    .sociales
    {
        width: auto;
    }

    footer .contenedor
    {
        justify-content: space-between;
    }
    .pie_menu
    {
        width: 400px;
    }

}

@media(min-width: 1024px)
{
    .pie_menu
    {
        width: 600px;
        height: 150px;

    }
}
