#bienvenido_container
{

    margin-top: -40px;


}
#bienvenido
{
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    background:darkturquoise;
    background-image: url('../img/slide1.jpg');
    background-attachment: fixed;
    background-position: center;
}
