#menu
{

    position: fixed;
    z-index: 1000;
}
#menu a
{
    color: #f93;
    font-size:15px;
}

#menu a:hover
{
    background: #f93;
    color: #fff;
    cursor: pointer;
}
.navbar-brand
{
    font-size: 30px !important;
    font-family: 'Mogra', cursive;
}
.navbar-inverse
{
    border-color: #f93;
}

@media(min-width: 768px)
{
    #menu
    {
      position: relative;
    }
}