#c-slider
{
    margin: auto;
    width: 95%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px 3px 30px 3px;
    display: none;
}

#slider
{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display: flex;
    width: 400%;
    height: 300px;
    background: #fff;
}
#slider section
{
    width: 100%;

}
#slider img
{
    display: block;
    width:100%;
    height: 100%;
}
#btn-next,#btn-prev
{
    width: 40px;
    height: 40px;
    background:#c3c3c3;;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor:pointer;
    box-shadow: 0 0 0 2px #f0f0f0;

}
#btn-next:hover,#btn-prev:hover
{
    background: rgba(255,255,255,1);
    box-shadow: 0 0 0 2px #c3c3c3;
}
#btn-prev
{
    left: 10px;
}
#btn-next
{
    right: 10px;
}

@media(min-width: 768px)
{
    #c-slider
    {
        display: block;
    }
}
