<div class="container-fluid">

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h6 class="panel-title">Formulario de Contacto</h6>
        </div>
        <div class="panel-body">

            <form method="GET" action="">
                <div id="Loading"></div>
                <div id="opacity">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input class="form-control" placeholder="Nombre Completo" id="formname" required="required" name="name" type="text">
                    </div>

                    <div class="form-group">
                        <label for="Asunto">Asunto</label>
                        <input class="form-control" placeholder="Asunto del mensaje" id="asuntomensaje" required="required" name="asunto" type="text">
                    </div>

                    <div class="form-group">
                        <label for="email">Correo Electronico</label>
                        <input class="form-control" placeholder="example@gmail.com" id="formemail" required="required" name="email" type="email">
                    </div>

                    <div class="form-group">
                        <label for="message">Mensaje</label>
                        <textarea class="form-control" style="height:130px" placeholder="Escribe tu mensaje aqu&iacute;, sea breve por favor" required="required"  name="mensajeContact" cols="50" rows="10"></textarea>
                    </div>
                </div>

                <div></div>

                <br>
                <button type="button" class="btn btn-warning" id="BtnMensaje">Enviar</button>

            </form>

        </div>
    </div>

</div>
