<div class="panel panel-warning" ng-repeat="post in posts">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#/post/{{ post.id }}">{{ post.title }}</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://s-media-cache-ak0.pinimg.com/originals/a3/45/52/a34552d60867a64589ff9cffccbe7d7e.png" alt="...">
                </div>
            </div>
            <div class="col-sm-4 col-md-5 col-lg-8">
                <div class="caption">
                    <div class="container-fluid">
                        {{ post.body }}
                    </div>
                    <br>
                    <p>
                        <a href="#/post/{{ post.id }}" class="btn btn-primary" role="button">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            Leer M&aacute;s</a>
                        <a href="#/post/edit/{{ post.id }}" class="btn btn-warning"  title="Editar" >
                            <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>
                            Editar
                        </a>
                        <a class="btn btn-danger" ng-click="removePost(post)" title="Eliminar" >
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Eliminar
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="cat-date-post">
            <h3>
                <span class="glyphicon glyphicon-th-list"></span>
                Marketing |
                <span class="glyphicon glyphicon-calendar"></span>
                04/12/2016
            </h3>
        </div>
    </div>
</div>
