<form class="form-horizontal" ng-submit="savePost()" method="post">
    <fieldset>
        <legend>{{ title }}</legend>
        <div class="form-group">
            <label class="col-lg-2 control-label">Titulo</label>
            <div class="col-lg-10">
                <input class="form-control" ng-model="post.title"  placeholder="T&iacute;tulo del  Art&iacute;culo" type="text">
            </div>
        </div>

        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Contenido</label>
            <div class="col-lg-10">
                <textarea class="form-control" ng-model="post.body" rows="3" id="textArea"></textarea>
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="reset" onclick="window.location='#/'" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>