<div class="panel panel-warning" ng-controller="PostController">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#">{{ post.title }}</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://s-media-cache-ak0.pinimg.com/originals/a3/45/52/a34552d60867a64589ff9cffccbe7d7e.png" alt="...">
                </div>
            </div>
            <div class="col-sm-4 col-md-5 col-lg-8">
                <div class="caption">
                    <div class="container-fluid">
                        {{ post.body }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="cat-date-post">
            <h3>
                <span class="glyphicon glyphicon-th-list"></span>
                Marketing |
                <span class="glyphicon glyphicon-calendar"></span>
                04/12/2016
            </h3>
        </div>
    </div>
</div>