<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Usuarios</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>

            <tr class="danger" ng-repeat="user in users">
                <td><img ng-src="https://www.mautic.org/media/images/default_avatar.png" width="100" height="100"></td>
                <td>{{ user.name  }}</td>
                <td>{{ user.email }}</td>
            </tr>


            </tbody>
        </table>
    </div>
</div>